<!-- <mat-toolbar class="mat-elevation-z5">
  <mat-toolbar-row>
    <span class="primary">Logo</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with settings icon">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with home icon">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="main-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink='one'><mat-icon>dashboard</mat-icon>Dashboard</a>
      <a mat-list-item routerLink='stock'><mat-icon>category</mat-icon>Stock</a>
      <a mat-list-item><mat-icon>local_grocery_store</mat-icon>Shop</a>
      <a mat-list-item><mat-icon>person</mat-icon>Boys Mess</a>
      <a mat-list-item><mat-icon>person</mat-icon>Girls Mess</a>
      <a mat-list-item><mat-icon>person</mat-icon>Days Scholar Mess</a>
      <a mat-list-item routerLink='detail'><mat-icon>person</mat-icon>Supplier Details</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<!doctype html>
<html lang="en">
  <head>
    <title>Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
      .nav .nav-item{
        border-radius: 15px;
        padding: 10px;
        background-color: #5ac65d;
      }
      span{
        color: white;
      }
      
      .nav a{
        color: rgb(255, 255, 255);
      }

      .custom-spacing {
  margin-right: 15px; 
}
.system-spacing{
  margin-left: 15px;
}

/* Remove margin from the last item to prevent extra space */
.navbar-nav .nav-item:last-child .nav-link {
  margin-right: 10;
}

     
    </style>
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg" style="background-color: #4CAF50;">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold fs-4 text-white system-spacing" href="#">
          <img src="../assets/image.png" alt="Logo" width="85" height="65" class="d-inline-block align-center">
          Grocery Maintainance
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav fw-bold fs-5">
            <li class="nav-item">
              <a class="nav-link text-white custom-spacing" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white custom-spacing" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white custom-spacing" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    

    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar -->
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block text-white sidebar" >
          <div class="position-sticky">
            <ul class="nav flex-column fs-5 fw-bold">
              <li class="nav-item mt-5">
                <a class="nav-link text-white" routerLink="one">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item mt-5">
                <a class="nav-link text-white" routerLink="stock">
                  <span data-feather="file"></span>
                  Stock
                </a>
              </li>
              <!-- <li class="nav-item mt-5">
                <a class="nav-link text-white" routerLink="shop">
                  <span data-feather="shopping-cart"></span>
                  Shop
                </a>
              </li> -->
              <li class="nav-item mt-5">
                <a class="nav-link text-white" routerLink="detail">
                  <span data-feather="bar-chart-2"></span>
                  Supplier Details
                </a>
              </li>
              <li class="nav-item mt-5">
                <a class="nav-link text-white" routerLink="boys-mess">
                  <span data-feather="users"></span>
                  Boys Mess
                </a>
              </li>
              <li class="nav-item mt-5">
                <a class="nav-link text-white" routerLink="girls-mess">
                  <span data-feather="users"></span>
                  Girls Mess
                </a>
              </li>
              <li class="nav-item mt-5">
                <a class="nav-link text-white" routerLink="days-scholar-mess">
                  <span data-feather="layers"></span>
                  Days Scholar Mess
                </a>
              </li>
              
            </ul>
          </div>
        </nav>

        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 text-center">
          <div class="content">
            <router-outlet></router-outlet>
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
